@tailwind base;
@tailwind components;
@tailwind utilities;

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html:focus-within {
  scroll-behavior: smooth;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

body {
  min-height: 100vh;
  min-height: 100dvh;
  font-family: "Manrope", "sans-serif";
  margin: 0;
}

#root {
  height: 100dvh;
}

.custom-container {
  --max-width: 1280px;
  --container-padding: 1rem;

  width: min(var(--max-width), 100% - (var(--container-padding) * 2));
  margin-inline: auto;
}